<section id="deals" class="col-lg-12">
<% if current_user %>
  <h4 class="luxury">Hello, <%= current_user.username %></h4>
  <% else %>
  <h4 class="luxury">Hello, Guest</h4>
  <% end %>
  
  <h2>Minute by Minute deals.. Just for you!</h2>
  <hr class="daily_deals_title_line">
  <h4>25% off for 'right now' only</h4>
  <div class="row">
    <% @daily_deals.each do |product| %>
      <div class="daily_deals col-md-4 col-sm-4">
        <div class="daily_deals_title"><%= product.title %></div>
        <hr>
        <img src="<%= product.image %>" alt="" class="daily_deals_image_size">
        <hr>
        <div class="table_alignment">
          <table>
            <tr>
              <td>Price:</td>
              <td class="price"><%= number_to_currency(product.price) %></td>
            </tr>
            <tr>
              <td>Now:</td>
              <td class="discount_price"><%= number_to_currency(product.daily_discount_message) %></td>
            </tr>
          </table>
        </div>
        <button class="buy_button">BUY</button>
      </div>
    <% end %>
  </div>
</section>





<h2><%= @discount_display %></h2>
<section class="home_products col-md-12">
  <% @products.each do |product| %>
  <hr>
  <a href="/products/<%= product.id %>"><h2> <%= product.title %> </h2></a>
  <h3 class="price"><%= number_to_currency(product.price) %> </h3>
  <h4><%= product.description %></h4>
  <img src="<%= product.image %>" alt="" width="150">
  
  <% end %>
</section>

<br>
<br>



