<section class="row">
  <div class="section_one col-md-6 col-sm-6">
    <h2><%= @product.title %></h2>
    <h3>Price: <%= number_to_currency(@product.price) %> </h3>
    <img src="<%= @product.image %>" alt="" width="250">
    <hr>

    <section class="">
      <% @images.each do |image| %>
        <% if image.product_id == @product.id %>
          <img src="<%= image.image_url %>" alt="" width="50">
        <% end %>
      <% end %>
    </section>
    <h3><%= @product.discount_message %></h3>
  </div>



  <div class="product_information col-md-6 col-sm-6">
    <div class="stuff" >
    <% if @product.vendor %>
      <p>Vendor: <%= @product.vendor.name %></p>
      <% end %>

      <p>Category: <%= @product_category_name.category.name %></p>
      
        
      <p>Sizes:</p>
      <% @product.product_options.each do |option| %>
      <option><%= option.name %></option>
      <% end %>

      <br>
      <table>
        <tr>
          <td>Subtotal:</td>
          <td class="price"><%= number_to_currency(@product.price) %></td>
        </tr>
        <tr>
          <td>Tax at 9%:</td>
          <td class="price  price_line"><%= number_to_currency(@product.tax_computation) %></td>
        </tr>
        <tr>
          <td>Grand Total:</td>
          <td class="price"><%= number_to_currency(@product.add_tax) %></td>
        </tr>
      </table>
      <br>
      <!-- % if current_user % this would be non devise-->
      <!-- this is using devise -->
      <% if user_signed_in? %> 
      <h4>Buy this product</h4>
        <%= form_tag "/carted_products" do %>
        <%= form_tag %>

          <div>
            <%= label_tag :quantity %>
            <%= text_field_tag :quantity %>
            <%= submit_tag "Add to cart" %>
          </div>
            <%= hidden_field_tag :product_id, @product.id %>
        <% end %>
      <% end %>
    </div>
    <hr>

    
    
    
    <% if user_signed_in? && current_user.admin %>
      <h4>Administration Dashboard</h4>
      <div>
      <a href="/products/<%= @product.id %>/edit">Edit this product</a>
      </div>
      <div>
      <a href="/products/<%= @product.id %>" data-method="delete" rel="nofollow" data-confirm="Are you sure you want to delete <%= @product.title %>">Delete this product</a>
      </div>
      <hr>
    <% end %>
  </div>
</section>